<!DOCTYPE html>
<html ng-app="anchorScrollOffsetExample">
  <head>
    <meta charset="utf-8">
    <title>Angular $anchorScroll test</title>
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.css">
    <script src="/modules/jquery/jquery.min.js"></script>
    <script src="/modules/angular/angular.js"></script>
    <script src="/modules/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    angular.module('anchorScrollOffsetExample', [])
    .run(['$anchorScroll', function($anchorScroll) {
      $anchorScroll.yOffset = 50;   // always scroll by 50 extra pixels
    }])
    .controller('headerCtrl', ['$anchorScroll', '$location', '$scope',
    function ($anchorScroll, $location, $scope) {
      $scope.gotoAnchor = function(x) {
        var newHash = 'anchor' + x;
        if ($location.hash() !== newHash) {
          // set the $location.hash to `newHash` and
          // $anchorScroll will automatically scroll to it
          $location.hash('anchor' + x);
        } else {
          // call $anchorScroll() explicitly,
          // since $location.hash hasn't changed
          $anchorScroll();
        }
      };
    }]);
    </script>
    <style media="screen">
    body {
      padding-top: 50px;
    }

    .anchor {
      border: 2px dashed DarkOrchid;
      padding: 10px 10px 800px 10px;
    }

    .fixed-header {
      background-color: rgba(0, 0, 0, 0.2);
      height: 50px;
      position: fixed;
      top: 0; left: 0; right: 0;
    }

    .fixed-header > a {
      display: inline-block;
      margin: 5px 15px;
    }
    </style>
  </head>
  <body>
    <div class="fixed-header" ng-controller="headerCtrl">
      <a href="" ng-click="gotoAnchor(x)" ng-repeat="x in [1,2,3,4,5]">
        Go to anchor {{x}}
      </a>
    </div>
    <div id="anchor{{x}}" class="anchor" ng-repeat="x in [1,2,3,4,5]">
      Anchor {{x}} of 5
    </div>
  </body>
  </html>
