<div class="node-detail">
    <div class="menubar">
        <div class="item">
            <label for="clusterSelectId">集群:</label>
            <select id="clusterSelectId" ng-change="clusterChanged()"
                ng-model="cluster" ng-model-options="{getterSetter:true}"
                ng-options="c.name for c in clusters">
            </select>
        </div>
        <div class="item">
            <label for="nodeSelectId">节点:</label>
            <select id="nodeSelectId" ng-change="nodeChanged()"
                ng-model="node" ng-model-options="{getterSetter:true}"
                ng-options="c.host for c in nodes">
            </select>
        </div>
    </div>
    <div class="content">
        <div class="item">
            <div class="left">
                <div>CPU</div>
                <div class="info">
                    <span class="title">最小:</span>
                    <span>{{node().cpu.min * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">平均:</span>
                    <span>{{node().cpu.avg * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">最大:</span>
                    <span>{{node().cpu.max * 100 | number:1}}%</span>
                </div>
            </div>
            <div id="cpuChartId" class="chart" mg-monitor-chart>
            </div>
        </div>
        <div class="item">
            <div class="left">
                <div>Memory</div>
                <div class="info">
                    <span class="title">最小:</span>
                    <span>{{node().cpu.min * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">平均:</span>
                    <span>{{node().cpu.avg * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">最大:</span>
                    <span>{{node().cpu.max * 100 | number:1}}%</span>
                </div>
            </div>
            <div id="memoryChartId" class="chart" mg-monitor-chart>
            </div>
        </div>
        <div class="item">
            <div class="left">
                <div>Disk</div>
                <div class="info">
                    <span class="title">最小:</span>
                    <span>{{node().cpu.min * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">平均:</span>
                    <span>{{node().cpu.avg * 100 | number:1}}%</span>
                </div>
                <div class="info">
                    <span class="title">最大:</span>
                    <span>{{node().cpu.max * 100 | number:1}}%</span>
                </div>
            </div>
            <div id="diskChartId" class="chart" mg-monitor-chart>
            </div>
        </div>
    </div>
</div>
