<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My angular controller test!</title>

    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.css">
    <script src="/modules/jquery/jquery.min.js"></script>
    <script src="/modules/angular/angular.js"></script>
    <script src="/modules/bootstrap/js/bootstrap.min.js"></script>
    <style>
    </style>
</head>

<body ng-app="myServiceModule">
    <div ng-controller="MyController">
        <h1 ng-bind="test_string"></h1>
        <p>Let's try this simple notify service, injected into the controller...</p>
        <input ng-init="message='test'" ng-model="message" >
        <button ng-click="callNotify(message);">NOTIFY</button>
        <p>(you have to click 3 times to see an alert)</p>
        <h2 ng-bind="notify.cnt"></h2>
    </div>

    <div ng-controller="MyController">
        <h1 ng-bind="test_string"></h1>
        <p>Let's try this simple notify service, injected into the controller...</p>
        <input ng-init="message='test'" ng-model="message" >
        <button ng-click="callNotify(message);">NOTIFY</button>
        <p>(you have to click 3 times to see an alert)</p>
        <h2 ng-bind="notify.cnt"></h2>
    </div>
</body>

<script>
var app = angular.module('myServiceModule', []);

app.factory('notify', ['$window', function(win) {
    var msgs = [];
    var self = this;
    this.action = function(msg) {
        msgs.push(msg);
        if (msgs.length == 3) {
            win.alert(msgs.join("\n"));
            msgs = [];
            ++self.cnt;
        }
    };

    this.cnt= 0;
    this.count = function (){
        ++self.cnt;
        return self.cnt;
    }
    return this;
}]);

app.controller('MyController', ['$scope','notify', function ($scope, notify) {
    $scope.callNotify = function(msg) {
        notify.action(msg);
    };

    $scope.test_string = "test" + notify.count();
    $scope.notify = notify;
}]);

</script>

</html>
